/* MENU ========================================================== */

.menu {
    --NAV-BORDER: 1px;

    box-shadow: .5rem .5rem 1rem hsl(var(--DARKER-HSL)/.5);
    background-color: hsl(var(--DARK-HSL));
    color: hsl(var(--LIGHTER-HSL));
    font-size: .9rem;
    position: absolute;
    inset: 0;
    margin: auto;
    height: min(475px, 75%);
    transform: translateY(-.4rem);
    width: min(300px, 100%);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

/* MENU TITLE ==================================================== */

.menu__title-area {
    margin: .75rem 0 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.menu__title-container {
    flex: 1;
    height: 2.5rem;
    background-color: hsl(var(--LIGHT-HSL));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__title-text {
    letter-spacing: .1ch;
    font-size: 1rem;
    margin-left: .5rem;
    color: hsl(var(--DARK-HSL));
}

.menu__title-link {
    color: hsl(var(--LIGHT-HSL));
    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
    transform: rotate(180deg);
    text-align: right;
    text-decoration: none;
}

/* MENU AREAS ==================================================== */

.menu__tab-area {
    border-bottom: var(--NAV-BORDER) solid hsl(var(--LIGHTER-HSL));
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
    z-index: 1;
}

.menu__tab-radio {
    display: none;
}

.menu__tab-label {
    flex: 1;
    top: var(--NAV-BORDER);
    position: relative;
    padding: .1rem;
    letter-spacing: .1ch;
    text-align: center;
}

.menu__tab-radio:checked+.menu__tab-label {
    background-color: hsl(var(--NEUTRAL-HSL));
    color: hsl(var(--DARK-HSL));
    z-index: 2;
}

.menu__content {
    flex-direction: column;
    gap: .75rem;
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    display: none;
}

.menu__content.active {
    display: flex;
}

.menu__options {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.menu__options--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .25rem;
}

/* MENU CONTAINER ================================================ */

.menu__item-container {
    background-color: hsl(var(--LIGHT-HSL));
    font-family: sans-serif;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    height: 1.75rem;
    padding: 0 .5rem 0 .5rem;
}

.menu__divider {
    border: none;
    border-bottom: 1px solid hsl(var(--LIGHT-HSL));
}

.menu__reset-button {
    width: 8rem;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: .1ch;
    margin-top: 1rem;
    align-self: center;
    padding: .25rem;
    border-radius: 1rem;
    position: relative;
}

.number__input {
    width: 3rem;
}

.menu__history {
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
}

.menu__history::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, hsl(var(--LIGHT-HSL)), transparent 50%);
}

.menu__options--grid div {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.menu__options--grid input {
    display: none;
}

.menu__options--grid input:checked+label {
    display: block;
    text-align: center;
    text-shadow: hsl(var(--DARK-HSL)) 0 0 4px;
    height: 2rem;
    width: 2rem;
    background-color: hsl(var(--LIGHT-HSL));
    border-radius: 50%;
    /* width: 100%; */
}


/* ALL THIS FOR A SLIDER BC BROWSERS JUST CANNOT ================= */
.number__inclusivity {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    height: 6px;
}

.number__inclusivity::-webkit-slider-runnable-track {
    height: 100%;
    background: hsl(var(--LIGHTER-HSL));
    border-radius: 3px;
}

.number__inclusivity::-moz-range-track {
    height: 100%;
    background: hsl(var(--LIGHTER-HSL));
    border-radius: 3px;
}

.number__inclusivity::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background: hsl(var(--NEUTRAL-HSL));
    border-radius: 50%;
    border: none;
    margin-top: -.45rem;
}

.number__inclusivity::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background: hsl(var(--NEUTRAL-HSL));
    border-radius: 50%;
    border: none;
}

.number__inclusivity::-webkit-slider-thumb:hover,
.number__inclusivity::-webkit-slider-thumb:active {
    border: 2px solid hsl(var(--LIGHTER-HSL));
}

.numberInc::-moz-range-thumb:hover,
.numberInc::-moz-range-thumb:active {
    border: 2px solid hsl(var(--LIGHTER-HSL));
}