/* GLOBAL RESET ================================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PAGE DEFAULTS ================================================= */

html {
    height: 100%;
    --HUE: 0;
    --DARKER-HSL: var(--HUE) 72% 10%;
    --DARK-HSL: var(--HUE) 72% 25%;
    --NEUTRAL-HSL: var(--HUE) 72% 60%;
    --LIGHT-HSL: var(--HUE) 72% 75%;
    --LIGHTER-HSL: var(--HUE) 72% 90%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--LIGHTER-HSL));
    color: hsl(var(--DARKER-HSL));
}

/* SEMANTIC TAGS ================================================= */

header {
    margin: 1rem;
}

main {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    padding: 1rem;
}

footer {
    margin: 1rem;
}

menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* CLASSES ======================================================= */

.config__icon {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1/1;
    height: 3rem;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: hsl(var(--DARK-HSL));
}

.config__icon--alt {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1/1;
    height: 3rem;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: hsl(var(--LIGHT-HSL));
}

.random {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    background-color: transparent;

    font-size: clamp(15rem, min(50vw, 75vh), 30rem);
    max-width: 100%;
    line-height: 1;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

/* .range {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.range__min,
.range__max {
    font-size: 2rem;
    text-align: center;
    width: 10rem;
    padding-left: 1ch;
}

.history {
    width: 100%;
    margin-top: 3rem;
}

.history__list {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    list-style: none;
    position: relative;
}

.history__list::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(to right, hsla(var(--LIGHTER-HSL)/.8) 0%, hsla(var(--LIGHTER-HSL)/.2) 100%);
    inset: 0;
}

.history__list>li:last-child {
    position: relative;
}

.history__list>li:last-child::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
    content: "↓";
}

*/