/* GLOBAL RESET ================================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PAGE DEFAULTS ================================================= */

html {
    height: 100%;
    --HUE: 0;
    --ACCENT-DARK-HSL: var(--HUE) 72% 20%;
    --ACCENT-LIGHT-HSL: var(--HUE) 72% 90%;
    --ACCENT-GRADIENT-HSL: var(--HUE) 72% 97%;
    --TEXT-HSL: var(--HUE) 72% 10%;
    --TEXT-INVERT-HSL: var(--HUE) 72% 97%;
    --BACKGROUND-HSL: var(--HUE) 72% 90%;
    --BACKGROUND-MENU-HSL: var(--HUE) 72% 100%;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: hsl(var(--BACKGROUND-HSL)); */
    background-image: radial-gradient(circle at 90% 5%, hsl(var(--ACCENT-GRADIENT-HSL)), transparent 35%),
        linear-gradient(to bottom, hsl(var(--BACKGROUND-HSL)), hsl(var(--ACCENT-GRADIENT-HSL)) 65%);
}

/* SEMANTIC TAGS ================================================= */

header {
    margin: 1rem;
    color: hsl(var(--TEXT-HSL));
    font-size: clamp(.5rem, 4vw, 1rem);
    white-space: nowrap;
}

main {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    padding: 1rem;
}

footer {
    margin: 1rem;
    color: hsl(var(--TEXT-HSL));
    font-size: clamp(.5rem, 4vw, .8rem);
    font-family: sans-serif;
    letter-spacing: .1ch;
}

menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* CLASSES ======================================================= */

.settings__link {
    position: fixed;
    height: 4rem;
    aspect-ratio: 1/1;
    z-index: 99;
}

.settings__link-icon {
    height: 100%;
    width: 100%;
}

.random__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.random__button {
    border: none;
    background-color: transparent;
    color: hsl(var(--TEXT-DARK-HSL));
    cursor: pointer;
    margin: auto;

    display: flex;
    justify-content: center;
}

.random__text {
    font-size: min(50vw, 15rem);
}